.customShadow{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/*UserTable*/
.userTable{
    @apply bg-white p-5
}
.userTable th{
    @apply border text-base font-medium
}
.userTable td{
    @apply border text-base text-center
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar{
    display: none;
}

header {
  height: 64px; /* Adjust to match your actual header height */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50; /* Ensures it's above other elements */
  background-color: white; /* Prevents transparency */
}
